@import "tailwindcss";
@theme {
  /* --breakpoint-*: initial;
	--breakpoint-sm: 640px;
	--breakpoint-md: 864px;
	--breakpoint-lg: 1056px;
	--breakpoint-xl: 1240px; */
  --color-primary-color: #543776;
  --color-secondary-color: #c3acd0;
  /* --color-neutral-700: #2e2e2e;
	--color-neutral-600: #454545;
	--color-neutral-500: #5c5c5c;
	--color-neutral-400: #737373;
	--color-neutral-300: #8f8f8f;
	--color-error-500: #d42620;
	--color-success-500: #0f973d; */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.nanum-gothic-regular {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 700;
  font-style: normal;
}

.caprasimo-regular {
  font-family: "Caprasimo", serif;
  font-weight: 100;
  font-style: normal;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
