@import "tailwindcss";
@theme {
  /* --breakpoint-*: initial;
	--breakpoint-sm: 640px;
	--breakpoint-md: 864px;
	--breakpoint-lg: 1056px;
	--breakpoint-xl: 1240px; */
  --color-primary-color: #543776;
  --color-secondary-color: #c3acd0;
  /* --color-neutral-700: #2e2e2e;
	--color-neutral-600: #454545;
	--color-neutral-500: #5c5c5c;
	--color-neutral-400: #737373;
	--color-neutral-300: #8f8f8f;
	--color-error-500: #d42620;
	--color-success-500: #0f973d; */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.nanum-gothic-regular {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 700;
  font-style: normal;
}

.caprasimo-regular {
  font-family: "Caprasimo", serif;
  font-weight: 100;
  font-style: normal;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
.swiper-pagination {
  margin-top: 1.5rem;
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  width: 48px !important;
  height: 48px !important;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  color: #543776;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 !important;
  font-size: 0 !important;
  z-index: 50;
  overflow: hidden;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px !important;
  font-weight: bold;
  color: #543776;
}

.swiper-button-next {
  right: -20px !important;
}

.swiper-button-prev {
  left: -20px !important;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #facc15 !important;
  border-radius: 2px !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-pagination {
  margin-top: 2.5rem !important;
  position: relative !important;
}

.multicube {
  background-image: url("./assets/images/multicube.svg");
  background-color: var(--color-primary-color);
  background-repeat: no-repeat;
  background-size: 520px;
  background-position: right;
}
